body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form{
  text-align: center;
  margin-bottom: 20px;
}

.checkbox-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.checkbox-group {
  display: flex;
  align-items: center;
}

.checkbox-option {
  margin-right: 20px;
  font-size: 18px;
}

form {
  margin-top: 20px;
}

.checkbox-radio {
  margin-right: 10px;
}